<%= simple_form_for(@coupon) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :code %>
    <%= f.input :valid_product %>
    <%= f.input :valid_category %>
    <%= f.input :valid_company %>
    <%= f.input :valid_city %>
    <%= f.input :value %>
    <%= f.input :value_type %>
    <%= f.input :qualifying_amount %>
    <%= f.input :max_discount %>
    <%= f.input :max_usage %>
    <%= f.input :max_usage_per_user %>
    <%= f.input :expire_date %>
    <%= f.input :start_date %>
    <%= f.input :success_message %>
    <%= f.input :coupon_message %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
