<p id="notice"><%= notice %></p>

<h1>Listing Coupons</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Valid product</th>
      <th>Valid category</th>
      <th>Valid company</th>
      <th>Valid city</th>
      <th>Value</th>
      <th>Value type</th>
      <th>Qualifying amount</th>
      <th>Max discount</th>
      <th>Max usage</th>
      <th>Max usage per user</th>
      <th>Expire date</th>
      <th>Start date</th>
      <th>Success message</th>
      <th>Coupon message</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coupons.each do |coupon| %>
      <tr>
        <td><%= coupon.code %></td>
        <td><%= coupon.valid_product %></td>
        <td><%= coupon.valid_category %></td>
        <td><%= coupon.valid_company %></td>
        <td><%= coupon.valid_city %></td>
        <td><%= coupon.value %></td>
        <td><%= coupon.value_type %></td>
        <td><%= coupon.qualifying_amount %></td>
        <td><%= coupon.max_discount %></td>
        <td><%= coupon.max_usage %></td>
        <td><%= coupon.max_usage_per_user %></td>
        <td><%= coupon.expire_date %></td>
        <td><%= coupon.start_date %></td>
        <td><%= coupon.success_message %></td>
        <td><%= coupon.coupon_message %></td>
        <td><%= coupon.status %></td>
        <td><%= link_to 'Show', coupon %></td>
        <td><%= link_to 'Edit', edit_coupon_path(coupon) %></td>
        <td><%= link_to 'Destroy', coupon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coupon', new_coupon_path %>
