<style>
table, td, th {
    border: 1px solid black;
    text-align:center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th{
  background: #66cccc;
  color:white;
}

td{
  background: rgba(1,0,0,0.1);
}

tr.datarows td{
    padding-top: 10px;
    padding-bottom: 10px;
}
</style>

<script>
 $(function(){
 $(".chosen-select").chosen({width: "200px"});
 });
 </script>

<p id="notice"><%= notice %></p>
<div  class="col-md-10 col-md-offset-1" style="width:1000px;">
<h4><%= link_to "HOME", "/" %></h4>
  <h1 style="text-align:center;"> Listing Orders</h1>
  </br>
  <div class="row" style="margin-top:30px;">
    <div class="col-md-12">
      <table>
        <thead>
          <tr>
            <th>Order Id</th>
            <th>Address</th>
            <th>User</th>
            <th>Status</th>
            <th>Is confirm</th>
            <th colspan="3">Action</th>
          </tr>       
        </thead>

        <tbody>
          <% @orders.each do |order| %>
            <tr class="datarows">
              <td><%= order.id %></td>
              <td><% if order.address.present? %><%= order.address.address%><br><%= order.address.landmark%><br>city: <%= order.address.city%><br>
              mobile: <%= order.address.mobile%><br>pincode: <%= order.address.pincode%><% end %></td>
              <td><%= order.user.name if order.user.present? %></td>
              <td><%= order.status %></td>
              <td><%= button_to order.is_confirm, order_path(order, order: {is_confirm: :confirm}), method: :put, data: { confirm: 'This Order will be confirmed' } %></td>
              <td><%= link_to 'Show', order %></td>
              <td><%= link_to 'Edit', edit_order_path(order) %></td>
              <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <tr></tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
          <%= will_paginate @orders %>
</div>