<style>
table, td, th {
    border: 1px solid black;
    text-align:center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th{
  background: #66cccc;
  color:white;
}

td{
  background: rgba(1,0,0,0.1);
}

</style>


<div style="padding:100px;font-size:15px;">
<p id="notice"><%= notice %></p>

<div>
  <strong>Address:</strong>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Pincode</th>
            <th>Address</th>
            <th>Mobile</th>
            <th>City</th>
            <th>State</th>
          </tr>
        </thead>

        <tbody>
            <tr>
              <% if @order.address.present? %>
              <td><%= @order.address.first_name %>  <%= @order.address.last_name %> </td>
              <td><%= @order.address.pincode %> </td>
              <td><%= @order.address.landmark %> <%= @order.address.address %> </td>
              <td><%= @order.address.mobile %></td>
              <td><%= @order.address.city %> </td>
              <td><%= @order.address.state %> <%= @order.address.country %></td>
              <% end %>
            </tr>
        </tbody>
      </table>     
</div>

<br/><br/>
<div>
  <strong>User Info:</strong>
  <% if @order.user.present? %>
  <%= @order.user.name %>
  <br/><%= @order.user.email %>
  <br/><%= @order.user.phone %>
  <% end %>
</div>
<br/><br/>

<div>
  <strong>Products:</strong>
    <div>
      <table>
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Product Size</th>
            <th>Quantity</th>
          </tr>
        </thead>

        <tbody>
          <% @order_products.each do |product| %>
            <tr>
              <td><%= product.product_size.product.name %></td>
              <td><%= product.product_size.size %> <%= product.product_size.size_unit %></td>
              <td><%= product.quantity %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
<br/><br/>
<p>
  <strong>Total Quantity:</strong>
  <%= @order.total_quantity %>
</p>
<p>
  <strong>Order Amount</strong>
  <%= @order.amount %>
</p>
<p>
  <strong>Total Discount:</strong>
  <%= @order.discount_amount %>
</p>
<p>
  <strong>Final Amount(Net Payable):</strong>
  <%= @order.final_amount %>
</p>

<p>
  <strong>Cod money:</strong>
  <%= @order.cod_money || 0 %>
</p>

<p>
  <strong>Shipping money:</strong>
  <%= @order.shipping_money || 0 %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>


<p>
  <strong>Payment gateway:</strong>
  <%= @order.payment_gateway %>
</p>


<p>
  <strong>Note:</strong>
  <%= @order.note %>
</p>

<% if @order.prescription_to_json.present? %>
<p>
  <strong>Detail by User:</strong>
  <%= @order.prescription_to_json["detail"] %>
</p>

<p>
  <strong>Image by User:</strong>
  <% if @order.prescription_to_json["images"].present? %>
    <%= @order.prescription_to_json["images"].each do |user_image| %>
      <%= image_tag user_image["url"] %>
    <% end %>
  <% end %>
</p>
<% end %>

<% if @order.deliver_time_to_json.present? %>
<p>
  <strong>Delivery Start Time:</strong>
  <%= @order.deliver_time_to_json["start_time"] %>
</p>

<p>
  <strong>Delivery End Time:</strong>
  <%= @order.deliver_time_to_json["end_time"] %>
</p>
<% end %>
<%if @order.status=="order_placed" or  @order.status=="on_hold" %><%= button_to "Confirm Order", order_path(@order, order: {status: :on_hold}), method: :put, data: { confirm: 'This Order will be marked as on Hold' } %><%end%> <br/>
<%if @order.status=="order_placed"%><%= button_to "Put on Hold", order_path(@order, order: {status: :on_hold}), method: :put, data: { confirm: 'This Order will be marked as on Hold' } %><%end%> <br/>
<%if @order.status=="confirmed"%><%= button_to "Pack Order", order_path(@order, order: {status: :packed}), method: :put, data: { confirm: 'This Order will be marked as Packed' } %><%end%> <br/>
<%if @order.status=="packed"%><%= button_to "Ship Order", order_path(@order, order: {status: :shipped}), method: :put, data: { confirm: 'This Order will be marked as shipped' } %><%end%> <br/>
<%if @order.status=="shipped"%><%= button_to "Deliver Order", order_path(@order, order: {status: :delivered}), method: :put, data: { confirm: 'This Order will be marked as delivered' } %><%end%><br/>
<%= button_to "Cancel Order", order_path(@order, order: {status: :cancelled}), method: :put, data: { confirm: 'This Order will be marked as cancelled' } %><br/>



<%= link_to 'Back', order_path %>
</div>
