<script>
   $(document).ready(function(){
            $(".chosen-select").chosen()
    });
 </script>
<div class="row">
	<div class="col-sm-offset-2">
	<h4> Home screen </h4>
		<%= form_for @home, url: homes_path, html: {class: 'form-horizontal'} do |f| %>
			<div class="row form-group">
				<%= f.label "Banner/Offer Name", class: 'col-sm-2' %>
				<%= f.text_field :banner_name, class: 'col-sm-6', validate: { presence: true }%>
			</div>

			<div class="row form-group">
			   <%= f.label 'Categories Path', class: 'col-sm-2' %>
			   <%= select_tag "categories_path", options_from_collection_for_select(Category.where("parent_id > ?", 0), "id", "name"), :class => 'chosen-select' %>
			</div>

			<div class="row form-group">
			   <%= f.label 'Products Path', class: 'col-sm-2' %>
			   <%= select_tag "products_path", options_from_collection_for_select(Product.all, "id", "name"), :class => 'chosen-select' %>
			</div>


			<div class="row form-group">
				<%= f.label :rank, class: 'col-sm-2' %>
                <%= f.radio_button :rank, '1', :checked => true  %> 1
                <%= f.radio_button :rank, '2'%> 2 
                <%= f.radio_button :rank, '3'%> 3    
                <%= f.radio_button :rank, '4'%> 4       
			</div>

			<div class="row form-group">
				<%= f.label :classified_as, class: 'col-sm-2' %>
                <%= f.radio_button :classified_as, 'banner'  %> Banner
                <%= f.radio_button :classified_as, 'offer', :checked => true  %> Offer    
			</div>

			<div class="row form-group">
				<%= f.label 'Image', class: 'col-sm-2'%>
				<%= f.file_field :image, :multiple => true %>
			</div>

			<div class="row form-group">
				<%= f.submit 'Submit', class: 'btn btn-primary col-sm-4 col-sm-offset-2' %>
			</div>
		<% end %>
	</div>
</div>

<div class="col-sm-offset-2">
<%= @home.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
<% end %>
</div>

