<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
 <script>
	  var count =1;
	  $(document).ready(function(){
	  $("#add").click(function () {
	  $("#productsizetable").clone().addClass("item" + count).appendTo("#productsize"); 
	  count ++;
	  console.log(count);
	});
	});


	  $(document).ready(function(){
	  $("#remove").click(function () {
	  $('#productsize').find('div').remove(); 
	});
	});
</script>

<script>
 $(function(){
 $(".chosen-select").chosen({width: "300px"});
 });
 </script>

<script>
 $(function(){
 $(".chosen-select-size").chosen({width: "100px"});
 });
 </script>

<style type="text/css">
	.int_box
	{
		width :80px;
		margin-right: 20px;
	}
</style>

<div class="row">
	<div class="col-sm-offset-2">
	<h4> Edit Product </h4>
		<%= form_for @product, url: product_path, html: {class: 'form-horizontal'} do |f| %>
			<div class="row form-group">
				<%= f.label :name, class: 'col-sm-2' %>
				<%= f.text_field :name, class: 'col-sm-6'%>
			</div>

			<div class="row form-group">
				<%= f.label :description, class: 'col-sm-2' %>
				<%= f.text_field :description, class: 'col-sm-6'%>
				
			</div>
			<div class="row form-group">
				<%= f.label :status, class: 'col-sm-2' %>
                <%= f.radio_button :status, 'disabled'  %> Disabled
                <%= f.radio_button :status, 'enabled', :checked => true  %> Enabled    
                <%= f.radio_button :status, 'discontinued' %> Discontinued        
			</div>


			<div class="row form-group">
				<%= f.label 'Company', class: 'col-sm-2' %>
				<%= f.collection_select :company_id,
				  Company.all ,:id,:name,
				  { include_blank: true, selected: @valid_company},
				  { class: 'chosen-select', :data => { :placeholder => 'Select Company ' }}
				%>

			</div>

			<div class="row form-group">
			   <%= f.label 'Categories', class: 'col-sm-2' %>
				<%= f.collection_select :product_categories,
				  Category.where("parent_id > ?", 0) ,:id,:name,
				  { include_blank: true, selected: @valid_category},
				  { class: 'chosen-select', :multiple=>true, :data => { :placeholder => 'Select Categories ' }}
				%>
			</div>

			<div class="row form-group">
				<%= f.label 'Product Photo', class: 'col-sm-2'%>
				<%= f.file_field :image, :multiple => true %>
			</div>

			<div style="border:2px solid black;width:730px;padding:20px;padding-left:10px;margin-bottom:20px;">
			<h4> Product Sizes</h4>
			<% @product_sizes.each do |element|  %>
			<div id="productsizetable11">
				<table>
				  <tr>
				    <th>Size</th>
				    <th>Size Unit</th> 
				    <th>Qty Available</th>
				    <th>MRP</th>
				    <th>Price</th> 
				    <th>Weight</th>				    
				    <th>Status</th>
				  </tr>
				  <tr>
				    <td><input type="number" name="sizes[][size]" min=0 class="int_box" value = <%= element.size %> ></td>
				    <td>
				      <select name = "sizes[][size_unit]" class="chosen-select-size" id="drop">
					    <option value="ml">ml</option>
					    <option value="gm">gm</option>
					    <option value="kg">kg</option>
					    <option value="litre">litre</option>
					    <option value="piece">piece</option>
					    <option value="cartridge">cartridge</option>
					    <option value="strip">strip</option>
					    <option value="pad">pad</option>
					    <option value="capsule">capsule</option>
					    <option value="pellet">pellet</option>
					    <option value="sachet">sachet</option>
					    <option value="cm">cm</option>
					    <option value="metre">metre</option>
					    <option value="inch">inch</option>
					  </select>
					</td>
				    <td><input type="number" name="sizes[][qty_avail]" min=0 class="int_box" value =<%= element.qty_avail%> ></td>
				    <td><input type="number" name="sizes[][mrp]" min=0 class="int_box" value = <%= element.mrp %> ></td>
				    <td><input type="number" name="sizes[][price]" min=0 class="int_box" value=<%= element.price %> ></td>
				    <td><input type="number" name="sizes[][weight]" min=0 class="int_box" value=<%= element.weight %> ></td>
				    <td>				      				      
				      <select name = "sizes[][status]" class="chosen-select-size">
					    <option value="enabled">enabled</option>
					    <option value="disabled">disabled</option>
					    <option value="discontinued">discontinued</option>
					  </select>
                    </td>
				  </tr>
				</table>
            </div>
            <% end %>

			<div id="productsizetable">
				<table>
				  <tr>
				    <th>Size</th>
				    <th>Size Unit</th> 
				    <th>Qty Available</th>
				    <th>MRP</th>
				    <th>Price</th> 
				    <th>Weight</th>				    
				    <th>Status</th>
				  </tr>
				  <tr>
				    <td><input type="number" name="sizes[][size]" min=0 class="int_box" ></td>
				    <td class="int_box">
				      <select name = "sizes[][size_unit]" class="chosen-select-size" >
					    <option value="ml">ml</option>
					    <option value="gm">gm</option>
					    <option value="kg">kg</option>
					    <option value="litre">litre</option>
					    <option value="piece">piece</option>
					    <option value="cartridge">cartridge</option>
					    <option value="strip">strip</option>
					    <option value="pad">pad</option>
					    <option value="capsule">capsule</option>
					    <option value="pellet">pellet</option>
					    <option value="sachet">sachet</option>
					    <option value="cm">cm</option>
					    <option value="metre">metre</option>
					  </select>
					</td>
				    <td><input type="number" name="sizes[][qty_avail]" min=0 class="int_box"></td>
				    <td><input type="number" name="sizes[][mrp]" min=0 class="int_box"></td>
				    <td><input type="number" name="sizes[][price]" min=0 class="int_box"></td>
				    <td><input type="number" name="sizes[][weight]" min=0 class="int_box"></td>
				    <td>				      				      
				      <select name = "sizes[][status]" class="chosen-select-size">
					    <option value="enabled">enabled</option>
					    <option value="disabled">disabled</option>
					    <option value="discontinued">discontinued</option>
					  </select>
                    </td>
				  </tr>
				</table>
            </div>
            <div id='productsize'></div>

                <div style="margin-top:20px;margin-bottom:20px;padding-left:230px;">
		          <input type="button" value="Add More Size" id="add">
			      <input type="button" value="Remove Last Size" id="remove">
			    </div>
			</div>

			<div class="row form-group">
				<%= f.label :url, class: 'col-sm-2' %>
				<%= f.text_field :url, class: 'col-sm-6'%>
			</div>

			<div class="row form-group">
				<%= f.label :meta_title, class: 'col-sm-2' %>
				<%= f.text_field :meta_title, class: 'col-sm-6'%>
				
			</div>
			<div class="row form-group">
				<%= f.label :meta_description, class: 'col-sm-2' %>
				<%= f.text_field :meta_description, class: 'col-sm-6'%>
			</div>
			<div class="row form-group">
				<%= f.label :meta_keywords, class: 'col-sm-2' %>
				<%= f.text_field :meta_keywords, class: 'col-sm-6'%>
			</div>	


			<div class="row form-group">
				<%= f.label :rank, class: 'col-sm-2' %>
				<%= f.text_field :rank, class: 'col-sm-6'%>
			</div>

			<div class="row form-group">
				<%= f.submit 'Submit', class: 'btn btn-primary col-sm-4 col-sm-offset-2' %>
			</div>
		<% end %>
	</div>
</div>
